body {
  margin:0;
  padding:0;
  overflow: hidden;
  background: #FFF8DD url(body-bg.png) no-repeat fixed center 10px; 
  font-size:12px;
}         

#dock {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:26px;
  background:transparent url(dock-bg.gif) repeat-x 0 0;
  z-index: 100000;	
}       

.dock_icon {
  float:left;
  width:102px;
  height:21px;
  margin-top:3px;
  background: url(button-bg.gif);
  text-align:center;
  font-size: 14px;
  color: #000;
  line-height: 22px;    
  margin-right:10px;
  margin-left:10px;
}       

#theme {       
  float:right; 
  margin-top:3px;
  margin-right:15px;
}

.drop {
  position:relative;
  width:50px;
  height:50px;
  border:1px solid #000;
}   

.drop_hover {
  background: #CDCC8F;
  border:1px solid #F00;
}   

/*.blur_os_x_content, mac_os_x_content {
  overflow:hidden;
}*/